body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.round {
    padding: 5px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.chart {
    margin: 20px;
    width: 70vw;
    height: 70vh;
}

body {
    /*background-color: #ededed;*/
    font-size: 1.5em;
}

.label {
    margin-right: 5px;
    color: #3c3f43;
}

.value {
  margin-left: 5px;
}

.spinner {
  position: absolute;
  left: 45vw;
  top: 40vh;
}

.open-card-player {
    background-color: red;
}